{% extends 'base.html' %}
{% block title %}
    Encriptar
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="content-encriptar">
    <div class="title">
        <h1>Encriptar imagen</h1>
    </div>
    <div class="claves">
        <ul>
            <li>Clave pública: {{ public_key }}</li>
            <li>Clave privada: {{ private_key }}</li>
    </ul>
    </div>
    <div class="form">
        <form method=post enctype=multipart/form-data>
            <div class="label-form">
                <label for="image">Seleccione la imagen:</label> <input type=file id="image" name=file><br><br>
            </div>
            <div class="btn-form">
                <input type=submit value=Upload>
            </div>
    </form>
    </div>
</div>
{% endblock %}